@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    label {
        display: compact;
    }

    .validationMessage {
        color: Red;
    }

    .toast {
        font-weight: bold;
    }

    /*.datepicker
    {
        z-index : 9999;
    }*/
</style>

@section styles
{
    @*<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />*@

    <link href="@Url.Content("~/Content/css/pagestyles/vendorlisting.css")" rel="stylesheet" type="text/css" />

    @*    <link href="@Url.Content("~/Content/css/custom-theme/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css">*@
    <link href="@Url.Content("~/Content/css/soft_button.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/mystyles.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/tablestyles.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/layout.css")"rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/custom-theme/main.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/buttons.css")" rel="stylesheet" type="text/css">
   @* <link href="@Url.Content("~/Content/css/jquery.datepick.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/css/tcal.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery.rating.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr-responsive.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

}
@section scripts
{

    @*Copied from Dipankar's
    =======================================================*@

    @* <script type="text/javascript" src="@Url.Content("~/Scripts/lib/ribbon.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/colResizable-1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/tcal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/maskedinput.js")"></script>*@

    @*=======================================================*@
    @*  <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.23.custom.min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/knockout-2.1.0.js"></script>*@
    <script type="text/javascript" src="~/Scripts/json2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.1.0.debug.js"></script>
    <script type="text/javascript" src="~/Scripts/koExternalTemplateEngine_all.js"></script>
    <script type="text/javascript" src="~/Scripts/amplify.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/ko.editables.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.validation.debug.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/knockout.asyncCommand.js"></script>
    <script src="~/Scripts/knockout.activity.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>


    @* <script src="~/Scripts/KoGrid-1.2.0.debug.js"></script>
    <script src="~/Scripts/ko.datasource.js"></script>*@

    @*App Specific*@
    @* <script src="~/Scripts/app/main.js"></script>*@
    <script type="text/javascript" src="~/Scripts/app/util.js"></script>
    <script type="text/javascript" src="~/Scripts/app/dataService.js"></script>
    <script type="text/javascript" src="~/Scripts/app/binding-handlers.0.1.js"></script>
    <script type="text/javascript" src="~/Scripts/app/ViewModels/vendorListing-0.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/app/ViewModels/vendorContacts-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts/app/ViewModels/vendorShipto-0.2.js"></script>
    <script type="text/javascript" src="~/Scripts/app/ViewModels/vendorTermination-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts/app/main.js"></script>
}




<div>
    @*<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>*@
</div>
*(Based on selection this will change) select and cancel buttons will be displayed if vendorlisting is opened form work orders. 
<div class="pagetitle">Vendor Listing</div>

<div id="tabs">
    <div id="tabs2" data-bind="template: { name: 'search_top' , templateUrl: 'Templates/VendorListing'}">
    </div>
</div>

<div class="topwrapper">
    <br />
    <br />
    <div id="tabs1">
        <div>
            <ul id="tabstwo" class="nav nav-tabs">
                <li class="active"><a href="#tabs-1" data-toggle="tab">Listing</a></li>
                <li><a href="#tabs-2" data-toggle="tab">Vendor Detail</a></li>
                <li><a href="#tabs-3" data-toggle="tab">Insurance</a></li>
                <li><a href="#tabs-4" data-toggle="tab">Remit To</a></li>
                <li><a href="#tabs-5" data-toggle="tab">Documents</a></li>
                <li><a href="#tabs-6" data-toggle="tab">Contacts</a></li>
                <li><a href="#tabs-7" data-toggle="tab">Ship To</a></li>
                <li><a href="#tabs-8" data-toggle="tab">Vendor Trade</a></li>
                <li><a href="#tabs-9" data-toggle="tab">Score Card</a></li>
                <li><a href="#tabs-10" data-toggle="tab">Feedback</a></li>
                <li><a href="#tabs-11" data-toggle="tab">Termination</a></li>
                <li><a href="#tabs-12" data-toggle="tab">Notes(12)</a></li>
                <li><a href="#tabs-13" data-toggle="tab">Audit Trail</a></li>
            </ul>
            <div id="bottomwrapper" class="tab-content">
                <div class="tab-pane active" id="tabs-1" data-bind="template: { name: 'vendorlist_tab', templateUrl: 'Templates/VendorListing'}">
                </div>
                <div class="tab-pane" id="tabs-2" data-bind="template: { name: 'vendordetail_tab' }">
                </div>
                <div class="tab-pane" id="tabs-3" data-bind="template: { name: 'insurance_tab' }">
                </div>
                <div class="tab-pane" id="tabs-4" data-bind="template: { name: 'remitto_tab'}">
                </div>
                <div class="tab-pane" id="tabs-5" data-bind="template: { name: 'documents_tab'}">
                </div>
                <div class="tab-pane" id="tabs-6" data-bind=" template: { name: 'contacts_tab'}">
                </div>
                <div class="tab-pane" id="tabs-7" data-bind="template: { name: 'shipto_tab'}">
                </div>
                <div class="tab-pane" id="tabs-8" data-bind="template: { name: 'vendortrade_tab'}">
                </div>
                <div class="tab-pane" id="tabs-9" data-bind="template: { name: 'scorecard_tab'}">
                </div>
                <div class="tab-pane" id="tabs-10" data-bind="template: { name: 'feedback_tab'}">
                </div>
                <div class="tab-pane" id="tabs-11" data-bind="template: { name: 'termination_tab'}">
                </div>
                <div class="tab-pane" id="tabs-12" data-bind="template: { name: 'notes_tab'}">
                </div>
                <div class="tab-pane" id="tabs-13" data-bind="template: { name: 'audittrail_tab'}">
                </div>
            </div>
        </div>
    </div>
</div>

@*<script id="detailsTmpl" type="text/html">
    <li data-bind="if: selectedVendor">
        <input data-bind="value: Vendnum" />
    </li>
</script>*@
<div>
    @*<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>*@
</div>


